button{
    float: right;
    margin: 50px;
    outline: none;
    background-color: white;
    border: 2px solid rgb(21, 88, 189);
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 0px rgb(62, 62, 235);
    transition-duration: 0.2s;
}
button:hover{
    background-color: rgb(20, 58, 128);
    color: white;
    box-shadow: none;
}